<launch>
  <!-- Create namesapce to avoid naming collisions if launching several drivers -->
  <group ns="multiflex_1">
    <node pkg="teraranger_array" type="teraranger_multiflex" name="multiflex_parser" output="screen" required="True" >
      <!-- Set the serial port name -->
      <param name="portname" value="/dev/ttyACM0" />
      <!-- Set activation of each sensor-->
      <param name="Sensor_0" value="True" />
      <param name="Sensor_1" value="False" />
      <param name="Sensor_2" value="True" />
      <param name="Sensor_3" value="False" />
      <param name="Sensor_4" value="True" />
      <param name="Sensor_5" value="False" />
      <param name="Sensor_6" value="False" />
      <param name="Sensor_7" value="True" />
      <!-- Remapping topic when using converter nodes-->
      <remap from="ranges" to="ranges_raw" />
    </node>
  </group>
</launch>
