<launch>
  <node pkg="teraranger_array" type="teraranger_one" name="hub_one" output="screen">
    <param name="nan_timeout_ms" value="1500"/>
    <rosparam>
      required_sensors_mask: [true,true,true,true,true,true,true,true]
    </rosparam>
  </node>

  <node pkg="teraranger_array" type="teraranger_evo" name="hub_evo" output="screen">
    <param name="nan_timeout_ms" value="1500"/>
    <rosparam>
      required_sensors_mask: [true,true,true,true,true,true,true,true]
    </rosparam>
  </node>
</launch>
